################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.Aplicacion
/INVENTIO/.vs
